{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'update_locations' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-12">
                        <h5 class="form-title"><span>Edit Location</span></h5>
                    </div>

                    {% include 'includes/messages.html' %}

                    <div class="col-sm-11">
                        <div class="form-group">
                            <label>Location Name</label>
                            <input type="text" class="form-control" name="name" value="{{location.name}}" required>
                            <input type="text" class="form-control" name="location_id" value="{{location.id}}" hidden>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Update Location</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}