{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'update_staff' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-12">
                        <h5 class="form-title"><span>Edit Staff</span></h5>
                    </div>

                    {% include 'includes/messages.html' %}

                    <div class="col-sm-11">
                        <div class="form-group">
                            <label>Profile Picture</label>
                            <input type="file" class="form-control" name="profile_pic">
                            <input type="text" class="form-control" name="staff_id"
                                   value="{% for i in staff %}{{i.admin.id}}{% endfor %}" hidden>
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" name="first_name"
                                   value="{% for i in staff %}{{i.admin.first_name}}{% endfor %}">
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" name="last_name"
                                   value="{% for i in staff %}{{i.admin.last_name}}{% endfor %}">
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email"
                                   value="{% for i in staff %}{{i.admin.email}}{% endfor %}" readonly>
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username"
                                   value="{% for i in staff %}{{i.admin.username}}{% endfor %}" readonly>
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password"
                                   placeholder="Fill only if you want to change password.">
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Update Staff</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}